  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" href="icons/icon.png" type="image/png">
    <title>Login - Mind-Rush</title>
  </head>
  <body>
    <div class="page-wrapper">

      <div class="login-wrapper">
        <div class="login-title">
          <h1>Login</h1>
        </div>
        <form class="login-form" action="/login" method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
            type="text" 
            id="username" 
            name="username"
            class="<%= errorMessage === 'Invalid username' ? 'invalid' : '' %>"
            value="<%= errorMessage === 'Invalid username' ? '' : oldInput.name %>" 
            placeholder="<%= errorMessage || 'Enter your username...' %>" 
            required >
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input 
            type="password" 
            id="password" 
            name="password" 
            class="<%= errorMessage ? 'invalid' : '' %>"
            value="<%= errorMessage ? '' : oldInput.password %>"  
            placeholder="<%= errorMessage || 'Enter your password...' %>"
            required >
          </div>
          <div class="cta-btn-wrapper">
            <button type="submit" class="cta-btn">Login</button>
          </div>
        </form>
        <div class="register-link">
          <p>Don't have an account? <a href="/signup">Sign Up</a></p>
          <p>Forgot your password? <a href="/reset">Reset Password</a></p>
        </div>
      </div>
    </div>
  </body>
  </html>