<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/signup.css">
  <link rel="icon" href="icons/icon.png" type="image/png">
  <script src="js/darkMode.js" defer></script>
  <script
      src="https://kit.fontawesome.com/b262aa5062.js"
      crossorigin="anonymous"
    ></script>
  <title>Sign Up - Mind-Rush</title>
</head>
<body>
  <% if (errorMessage) { %>
    <div class="error-wrapper">
      <i class="fa-solid fa-triangle-exclamation"></i> <p class="error-message"><%= errorMessage %></p>
    </div>
  <% } %>

  <div class="page-wrapper">
    <div class="signup-wrapper">
      
      <!-- First Row: Title -->
      <div class="signup-title">
        <h1>Sign Up</h1>
      </div>

      <div class="vertical-line"></div>
      
      <!-- Second Row: Form Fields -->

      <div class="signup-form-wrapper">
        <form class="signup-form" action="/signup" method="POST" enctype="multipart/form-data" novalidate>
          <div class="form-group">
            <label for="username">Username</label>
            <input 
            type="text" 
            id="username" 
            class="<%= validationErrors === 'username' ? 'invalid' : '' %>" 
            name="username" 
            placeholder="Enter your username" 
            value="<%= oldInput.name %>" 
            required >
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input 
            type="email" 
            id="email" 
            class="<%= validationErrors=== 'email' ? 'invalid' : '' %>"
            name="email" 
            placeholder="Enter your email" 
            value="<%= oldInput.email %>" 
            required >
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input 
            type="password" 
            id="password" 
            class="<%= validationErrors === 'password' ? 'invalid' : '' %>"
            name="password" 
            placeholder="Enter your password" 
            value="<%= oldInput.password %>" 
            required >
          </div>
          <div class="form-group">
            <label for="image">Profile Image</label>
            <input 
            type="file" 
            id="image" 
            class="<%= validationErrors === 'image' ? 'invalid' : '' %>"
            name="image" 
            required >
          </div>
      </div>

      <div class="vertical-line"></div>
      
      <!-- Third Row: Buttons -->
      <div class="btn-wrapper">
        <button type="submit" class="cta-btn">Sign Up</button>
      </form>
        <p>Sign Up with Google:</p>
        <a href="#" class="cta-btn-google"><img src="icons/google-icon.png" alt=""></a>
        <p>If you already have an account:</p>
        <a href="/login" class="cta-btn">Login</a>
      </div>

    </div>
  </div>
</body>
</html>
