<%- include('./includes/head.ejs') %>

<body>
  <div class="page-wrapper">
    <div class="title-wrapper">
      <h1><%= pageTitle %></h1>
    </div>
    <div class="center-wrapper">
      <div class="leader-boards">
        <div class="view-all-leaderboards">
          <div class="achievers-svg">
            <%- include('./includes/leaderboard-svg.ejs') %>
          </div>
          <div class="all-leaderboard">
            <div class="all-leaderboard-wrapper">
              <% if (allLeaders && allLeaders.length > 0) { %>
                <% allLeaders.forEach((ranker, index) => { %>
                  <div class="ranker-card">
                    <div class="ranker-index">
                      <p><%= index+1 %></p>
                    </div>
                    <div class="ranker-image">
                      <img src="/<%= ranker.image %>" alt="User Image">
                    </div>
                    <div class="ranker-info">
                      <p class="ranker-name"><%= ranker.username %></p>
                      <p class="ranker-time"><%= ranker.formattedTime %></p>
                    </div>
                  </div>
                <% }) %>
              <% } else { %>
                <p>No additional leaderboard entries available.</p>
              <% } %>
            </div>
          </div>
         <a href="#" id="view-all-btn" class="cta-btn">View All</a>
        </div>
        <div class="top-rankings">
          <div class="top-ranking-wrapper">
            <% if (topLeaders.length > 0) { %>
              <% topLeaders.forEach((leader, index) => { %>
                <div class="top-rankings-card">
                  <div class="leader-index">
                    <%- index === 0 ? '<img src="svgs/rank-1.svg" alt="Rank 1">' :
                         (index === 1 ? '<img src="svgs/rank-2.svg" alt="Rank 2">' :
                         (index === 2 ? '<img src="svgs/rank-3.svg" alt="Rank 3">' : '')) %>
                  </div>                  
                  <div class="leader-image">
                    <img src="/<%= leader.image %>" alt="User Image">
                  </div>
                  <div class="leader-info">
                    <p class="leader-name"><%= leader.username %></p>
                    <p class="leader-time"><%= leader.formattedTime %></p>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
              <p>No leaderboard data available.</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-btn-wrapper">
      <a href="/banana-math" class="cta-btn">New Game</a>
      <a href="/login" class="cta-btn">Login</a>
      <a href="/" class="cta-btn">Exit</a>
    </div>
  </div>
</body>
</html>
