<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="<%= cssFile %>">
<script src="<%= scriptFile %>" defer></script>
<title><%= pageTitle %></title>
</head>
<%- include('./includes/body.ejs') %>
      <div class="game-play-hint">
        <p class="hint-text"><%= hintText %></p>
      </div>
    </div>
    <div class="central-layout">
      <div class="game">
        <section class="memory-game">
          <div class="memory-card" data-item="cassette-tape">
            <img class="front-face" src="icons/cassette_tape.webp" alt="Cassette Tape" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
          <div class="memory-card" data-item="cassette-tape">
            <img class="front-face" src="icons/cassette_tape.webp" alt="Cassette Tape" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
        
          <div class="memory-card" data-item="game-boy">
            <img class="front-face" src="icons/game_boy.jpg" alt="Game Boy" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
          <div class="memory-card" data-item="game-boy">
            <img class="front-face" src="icons/game_boy.jpg" alt="Game Boy" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
        
          <div class="memory-card" data-item="typewriter">
            <img class="front-face" src="icons/typewriter.jpg" alt="Typewriter" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
          <div class="memory-card" data-item="typewriter">
            <img class="front-face" src="icons/typewriter.jpg" alt="Typewriter" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
        
          <div class="memory-card" data-item="polaroid-camera">
            <img class="front-face" src="icons/polaroid_camera.webp" alt="Polaroid" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
          <div class="memory-card" data-item="polaroid-camera">
            <img class="front-face" src="icons/polaroid_camera.webp" alt="Polaroid" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
        
          <div class="memory-card" data-item="rotary-phone">
            <img class="front-face" src="icons/rotary_phone.avif" alt="Rotary Phone" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
          <div class="memory-card" data-item="rotary-phone">
            <img class="front-face" src="icons/rotary_phone.avif" alt="Rotary Phone" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
        
          <div class="memory-card" data-item="record-player">
            <img class="front-face" src="icons/record_player.png" alt="Record Player" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
          <div class="memory-card" data-item="record-player">
            <img class="front-face" src="icons/record_player.png" alt="Record Player" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
        
          <div class="memory-card" data-item="walkman">
            <img class="front-face" src="icons/walkman.jpg" alt="Walkman" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
          <div class="memory-card" data-item="walkman">
            <img class="front-face" src="icons/walkman.jpg" alt="Walkman" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
        
          <div class="memory-card" data-item="vhs-tape">
            <img class="front-face" src="icons/vhs_tape.jpg" alt="VHS Tape" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
          <div class="memory-card" data-item="vhs-tape">
            <img class="front-face" src="icons/vhs_tape.jpg" alt="VHS Tape" />
            <img class="back-face" src="svgs/robot-arm.svg" alt="robot-arm" />
          </div>
        </section>  
      </div>
    </div>
    <div class="right-layout">
      <div class="computer-response-text"><%= computerResponse %></div>
      <div class="computer-response-image"><img src="<%= svgPath %>" alt=""></div>
    </div>
  </div>
  <div class="cta-btn-wrapper">
    <%- include('./includes/cta-btn') %>
  </div>
</div>
</body>
</html>




